:root {
  --green-100: #f7fff6;
  --green-200: #bcebc8;
  --green-300: #87d68d;
  --green-400: #93b48b;

  --primary-bg: var(--green-100);
  --sidebar-bg: var(--green-300);
  --card-bg: #fff;
  --accent: #f5d6d2;
  --text-main: #222;
  --text-muted: #666;

  --off-black: #3a3335;
}
