.nav-button {
  position: absolute;
  left: 0;
  z-index: 100;
}

.sidebar {
  position: absolute;
  left: 0;
  background: #858482;
  width: 380px;
  height: 80%;
}

.visible {
  opacity: 1;
}

.hidden {
  display: none;
}
